/* let's start with a mini CSS reset */
html { 
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
div,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;	
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  text-align: left;
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
caption {
  font-weight: normal;
}
img {
  border: 0;
}

/* now let the fun begin */
@font-face {
  font-family: "Slabo27px";
  src: url("fonts/Slabo27px-Regular.woff2") format("woff2"),
    url("fonts/Slabo27px-Regular.woff") format("woff");
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  font-size: calc(1vw + 1vh + .25vmin);
}
body,
html {
  height: 100%;
  margin: 0;
}
html {
  background: #f1f2f3;
  -webkit-font-smoothing: antialiased;
}
body {
  -webkit-align-items: center;
  align-items: center;
  color: #444;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  font: 1em/1.25rem "Slabo27px", sans-serif;
}
main {
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 4em;
  line-height: 1em;
  margin: 0;
}
hr {
  animation: expand .5s ease-out;
  background: #ccc;
  border: none;
  height: 1px;
}
.icons {
  display: inline-table;
  font-size: 2.5em;
  padding: .25em 0;
}
.icons ul {
  margin: 0;
  padding: 0;
}
.icons li {
  display: inline-block;
  height: 1.15em;
  list-style: none;
  margin: 0 .25em;
  width: 1.15em;
}
.icons li:first-child {
  margin-left: 0;
}
.icons li:last-child {
  margin-right: 0;
}
.icons a {
  color: inherit;
  transition: ease .2s;
}
.icons a:focus {
  outline: thin dotted;
}
.icons a:hover {
  color: #2196f3;
}
.icons a span:last-child {
  clip: rect(1px, 1px, 1px, 1px);
  max-height: 1px;
  max-width: 1px;
  overflow: hidden;
  position: absolute;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes expand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}
@media only screen and (max-width: 800px) {
  body {
    font-size: 1.3em;
    line-height: 1.6rem;
  }
}
@media only screen and (max-width: 500px) {
  body {
    font-size: 1.15em;
    line-height: 1.4rem;
  }
}