<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

  <title>{% if page.title == "Home" %}{{ site.title }} - {{ site.tagline }}{% else %}{{ page.title }} - {{ site.title }}{% endif %}</title>
  
  <link rel="preload" href="{{ site.baseurl }}/css/fonts/Bitter/Bitter-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ site.baseurl }}/css/fonts/Bitter/Bitter-Italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ site.baseurl }}/css/fonts/Bitter/Bitter-BoldItalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ site.baseurl }}/css/fonts/Open-Sans/OpenSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ site.baseurl }}/css/fonts/Open-Sans/OpenSans-Semibold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ site.baseurl }}/css/fonts/Inconsolata/Inconsolata.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ site.baseurl }}/css/main.css" as="style"> 

  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css?v={{ site.time | date: '%s' }}"> 

  {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    <meta property="article:author" content="{{ site.url }}/about/">
  {% endif %}

  {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta property="article:section" content="{{ category }}">
    {% endfor %}
  {% endif %}
  
  {% if page.tags %}
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
  {% endif %}

  {% if page.title %}
    <meta property="og:type" content="article">
  {% else %}
    <meta property="og:type" content="website">
  {% endif %}

  {% if page.url %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  {% else %}
    <meta property="og:url" content="{{ site.url }}">
  {% endif %}

  {% if page.title %}
    <meta property="og:title" content="{{ page.title }} - {{ site.title }}">
  {% else %}
    <meta property="og:title" content="{{ site.title }} - {{ site.tagline }}">
  {% endif %}

  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% if page.description %}
    <meta property="og:description" content="{{ page.description }}">
  {% else %}
    <meta property="og:description" content="{{ site.description }}">
  {% endif %}
 
  {% if page.image %}
    <meta property="og:image" content="{{ site.url }}/img/posts/sunset-home-office-min.jpg">
  {% else %}
    <meta property="og:image" content="{{ site.url }}/img/posts/sunset-home-office-min.jpg">
  {% endif %}

  {% if page.image %}
    <meta property="twitter:image" content="{{ site.url }}/img/posts/sunset-home-office-min.jpg">
  {% else %}
    <meta property="twitter:image" content="{{ site.url }}/img/posts/sunset-home-office-min.jpg">
  {% endif %}

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@allthingssmitty">
  <meta name="twitter:creator" content="@allthingssmitty">
  
  {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% else %}
    <meta name="twitter:url" content="{{ site.url }}">
  {% endif %}

  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }} - {{ site.title }}">
  {% else %}
    <meta name="twitter:title" content="{{ site.title }} - {{ site.tagline }}">
  {% endif %}

  {% if page.description %}
    <meta property="twitter:description" content="{{ page.description }}">
  {% else %}
    <meta property="twitter:description" content="{{ site.description }}">
  {% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/img/public/apple-touch-icon.png?v={{ site.time | date: '%s' }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/img/public/favicon-32x32.png?v={{ site.time | date: '%s' }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/img/public/favicon-16x16.png?v={{ site.time | date: '%s' }}">
  <link rel="manifest" href="{{ site.baseurl }}/img/public/manifest.json">
  <link rel="mask-icon" href="{{ site.baseurl }}/img/public/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="{{ site.baseurl }}/img/public/favicon.ico?v={{ site.time | date: '%s' }}">

  <meta name="msapplication-config" content="{{ site.baseurl }}/img/public/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="me" href="{{ site.author:codepen }}">
  <link rel="me" href="{{ site.author:github }}">
  <link rel="me" href="{{ site.author:linkedin }}">
  <link rel="me" href="{{ site.author:twitter }}">

  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
</head>
