{% if post.path contains '_posts' %}
  {% assign words_total = post.content | replace: '<script type="math/tex">', '' | replace: '<script type="math/tex; mode=display">', '' | replace: '</script>', '' | strip_html | number_of_words %}
  {% assign words_without_code = post.content | replace: '<pre>', '<!--' | replace: '</pre>', '-->' | replace: '<script type="math/tex">', '' | replace: '<script type="math/tex; mode=display">', '' | replace: '</script>', '' | strip_html | number_of_words %}
  {% assign words_without_math = post.content | strip_html | number_of_words %}
  {% assign words_without_either = post.content | replace: '<pre>', '<!--' | replace: '</pre>', '-->' | strip_html | number_of_words %}
{% endif %}

{% if page.path contains '_posts' %}
  {% assign words_total = page.content | replace: '<script type="math/tex">', '' | replace: '<script type="math/tex; mode=display">', '' | replace: '</script>', '' | strip_html | number_of_words %}
  {% assign words_without_code = page.content | replace: '<pre>', '<!--' | replace: '</pre>', '-->' | replace: '<script type="math/tex">', '' | replace: '<script type="math/tex; mode=display">', '' | replace: '</script>', '' | strip_html | number_of_words %}
  {% assign words_without_math = page.content | strip_html | number_of_words %}
  {% assign words_without_either = page.content | replace: '<pre>', '<!--' | replace: '</pre>', '-->' | strip_html | number_of_words %}
{% endif %}

{% assign words_code = words_total | minus: words_without_code | divided_by: 2.0 %}
{% assign words_math = words_total | minus: words_without_math | times: 2.0 %}
{% assign words = words_without_either | plus: words_code | plus: words_math | round %}

{% assign ert = words | divided_by:250 | at_least: 1 %}

<div class="post-header__meta">

  {% if page.path contains '_posts' %}
    <span aria-label="Published on {{ page.date | date: '%B %-d, %Y' }}">
      <time class="data published" aria-hidden="true">
        <span
        aria-hidden="true"
        data-long="{{ page.date | date: '%B %-d, %Y' }}"
        data-short="{{ page.date | date: '%b %-d, %Y' }}"></span>
      </time>
    </span>
  {% endif %}
  {% if post.path contains '_posts' %}
    <span aria-label="Published on {{ post.date | date: '%B %-d, %Y' }}">
      <time class="data published" aria-hidden="true">
        <span
        aria-hidden="true"
        data-long="{{ post.date | date: '%B %-d, %Y' }}"
        data-short="{{ post.date | date: '%b %-d, %Y' }}"></span>
      </time>
    </span>
  {% endif %}

  <div class="data reading-time">
    {{ ert }} min read
  </div>

  <div class="data views">
    <div class="page-views">
      {% assign views = 0 %}
      {% if page.path contains '_posts' %}
        {{ views | plus: page.views.ua | plus: page.views.ga4 }}
      {% endif %}
      {% if post.path contains '_posts' %}
        {{ views | plus: post.views.ua | plus: post.views.ga4 }}     
      {% endif %}
      views
    </div>
  </div>
</div>