<div class="social-media">
  <div class="social-media__item">
    <a href="{{ site.author.twitter }}" rel="external">
      <div class="social__icon social__icon--twitter">
        <div class="sr-only">Follow me on Twitter</div>
      </div>
    </a>
  </div>
  <div class="social-media__item">
    <a href="{{ site.author.linkedin }}" rel="external">
      <div class="social__icon social__icon--linkedin">
        <div class="sr-only">Follow me on LinkedIn</div>
      </div>
    </a>
  </div>
  <div class="social-media__item">
    <a href="{{ site.author.github }}" rel="external">
      <div class="social__icon social__icon--github">
        <div class="sr-only">Follow me on GitHub</div>
      </div>
    </a>
  </div>
  <div class="social-media__item">
    <a href="{{ site.author.codepen }}" rel="external">
      <div class="social__icon social__icon--codepen">
        <div class="sr-only">Follow me on CodePen</div>
      </div>
    </a>
  </div>
</div>