<div class="social">
   <ul>
    <li>
      <a href="{{ site.author.twitter }}" rel="external">
        <img src="/../img/icons/twitter.svg" height="30" width="30" alt="Follow me on Twitter">
      </a>
    </li>
    <li>
      <a href="{{ site.author.github }}" rel="external">
        <img src="/../img/icons/github.svg" height="30" width="30" alt="Follow me on GitHub">
      </a>
    </li>
    <li>
      <a href="{{ site.author.linkedin }}" rel="external">
        <img src="/../img/icons/linkedin.svg" height="32" width="28" alt="Follow me on LinkedIn">
      </a>
    </li>
    <li>
      <a href="{{ site.author.codepen }}" rel="external">
          <img src="/../img/icons/codepen.svg" height="30" width="30" alt="Follow me on CodePen">
      </a>
    </li>
  </ul>
</div>