*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size-root);
  line-height: var(--font-line-height);
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  
  @media (min-width: $large-breakpoint) {
    font-size: var(--font-size-large);
  }
}

body {
  color: var(--color-shades-primary-text);
  font-family: var(--font-root-regular);
  text-rendering: optimizeLegibility;
}

a {
  color: var(--color-primary-info-text);
  text-decoration-thickness: .075rem;
  text-underline-offset: 1.25px;
  transition: color ease var(--transition-duration);

  :is(code,
    code[class*="language-"],
    strong) {
    color: inherit;
  }

  &:hover .social__icon {
    transition: background-image ease var(--transition-duration);
  }

  &:focus .social__icon {
    outline: inherit;
    outline-offset: inherit;
  }
}

:focus {
  outline: 2px solid;
  outline-offset: .15rem;
}

.sr-hidden {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}