@mixin code-styles {
  background-color: var(--color-mid-bg);
  border: 1px solid var(--color-stroke);
}

code,
pre {
  font-family: var(--font-tertiary-regular);
}

code {
  @include code-styles;

  &:not([class]) {
    white-space: nowrap;
  }
}

pre {
  > code {
    @include code-styles;
    color: inherit;
    padding: 0;
  }
}
