code,
pre {
  font-family: var(--font-tertiary-regular);
}

code {
  background-color: var(--color-mid-bg);
  border: 1px solid var(--color-stroke);
  padding: 0.15rem 0.25rem;

  &:not([class]) {
    white-space: nowrap;
  }
}

pre {
  > code {
    background-color: var(--color-mid-bg);
    border: 1px solid var(--color-stroke);
    color: inherit;
    padding: 0;
  }
}
