@font-face {
  font-display: swap;
  font-family: "BitterRegular";
  src:
    local(Bitter-Regular),
    url(/css/fonts/Bitter/Bitter-Regular.woff2) format("woff2"),
    url(/css/fonts/Bitter/Bitter-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: "BitterItalic";
  src:
    local(Bitter-Italic),
    url(/css/fonts/Bitter/Bitter-Italic.woff2) format("woff2"),
    url(/css/fonts/Bitter/Bitter-Italic.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: "BitterBold";
  src:
    local(Bitter-Bold),
    url(/css/fonts/Bitter/Bitter-Bold.woff2) format("woff2"),
    url(/css/fonts/Bitter/Bitter-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: "BitterBoldItalic";
  src:
    local(Bitter-BoldItalic),
    url(/css/fonts/Bitter/Bitter-BoldItalic.woff2) format("woff2"),
    url(/css/fonts/Bitter/Bitter-BoldItalic.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: "OpenSansBold";
  src:
    local(OpenSans-Bold),
    url(/css/fonts/Open-Sans/OpenSans-Bold.woff2) format("woff2"),
    url(/css/fonts/Open-Sans/OpenSans-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: "OpenSansSemibold";
  src:
    local(OpenSans-Semibold),
    url(/css/fonts/Open-Sans/OpenSans-Semibold.woff2) format("woff2"),
    url(/css/fonts/Open-Sans/OpenSans-Semibold.woff) format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-display: swap;
  font-family: "Inconsolata";
  src:
    local(Inconsolata),
    url(/css/fonts/Inconsolata/Inconsolata.woff2) format("woff2"),
    url(/css/fonts/Inconsolata/Inconsolata.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}