@font-face {
  font-display: swap;
  font-family: "BitterRegular";
  font-style: normal;
  font-weight: 400;
  src:
    url(/css/fonts/Bitter/Bitter-Regular.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "BitterItalic";
  font-style: normal;
  font-weight: 400;
  src:
    url(/css/fonts/Bitter/Bitter-Italic.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "BitterBold";
  font-style: normal;
  font-weight: 700;
  src:
    url(/css/fonts/Bitter/Bitter-Bold.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "BitterBoldItalic";
  font-style: normal;
  font-weight: 700;
  src:
    url(/css/fonts/Bitter/Bitter-BoldItalic.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: 700;
  src:
    url(/css/fonts/Open-Sans/OpenSans-Bold.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "OpenSansSemibold";
  font-style: normal;
  font-weight: 600;
  src:
    url(/css/fonts/Open-Sans/OpenSans-Semibold.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src:
    url(/css/fonts/Inconsolata/Inconsolata.woff2) format("woff2");
}