// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  display: flex;
  flex-direction: column;
  margin-left:  auto;
  margin-right: auto;
  max-width: $large-breakpoint;
  min-height: 100vh;
  padding-left:  1.5rem;
  padding-right: 1.5rem;

  @media only screen and (max-width: $large-breakpoint) {
    padding-left:  1rem;
    padding-right: 1rem;
  }

  // WebKit mobile viewport bug fix
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
}

div[role="main"] {
  flex: 1 0 auto;
}

footer {
  font-family: $secondary-font-family-semibold;
  margin-bottom: 2rem;
  text-align: center;
  
  a:hover {
    color: $link-color;
    text-decoration: none;
  }
  
  span {
    font-size: .8rem;
  }

  @media only screen and (max-width: $large-breakpoint) {
    margin-bottom: 1.5rem;
  }
}