// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  display: flex;
  flex-direction: column;
  margin-left:  auto;
  margin-right: auto;
  max-width: var(--large-breakpoint);
  min-height: 100vh;
  padding-left:  1.25rem;
  padding-right: 1.25rem;
  //padding-left: clamp(1rem, 1.25rem, 4rem);
  //padding-right: clamp(1rem, 1.25rem, 4rem);

  // WebKit mobile viewport bug fix
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
}

main {
  flex: 1 0 auto;
}

.break {
  border-top: 1px solid var(--color-primary-info-bg);
  margin: 1.75rem 0;
}

footer {
  font-family: var(--font-secondary-semi-bold);
  margin-bottom: 2rem;
  text-align: center;

  a {
    
    &:hover {
      color: var(--color-primary-info-text);

      &:not(.post-footer a) {
        text-decoration: none;
      }
    }
  }

  span {
    font-size: .8rem;
  }
}