// Masthead
//
// Super small header above the content for site name and short description.

header {
  color: $gray-m;
  font-family: $secondary-font-family-bold;    
  margin-bottom: 5rem;
  padding-bottom: .5rem;
  padding-top: 1rem;
      
  a {
    color: inherit;
  
    &:hover {
      color: $link-color;
      text-decoration: none;
    }
  }

  nav {
    display: flex;

    h1 {
      color: $gray-6;
      font-size: 1.25rem;
      margin: 0;
  
      a {
        color: inherit;
      }
    }

    ul {
      list-style: none;
      margin: 0 0 0 auto;
      padding: 0;
    
      li {
        display: inline-block;
        line-height: 1.75;
        margin: 0;
        
        &:last-child {
          margin-left: 1rem;
        }
      }
    }
  }
  
  .tagline {
    font-family: $secondary-font-family-semibold;
    font-size: .85rem;
    margin-top: .5rem;
    text-transform: uppercase;
    
    @media only screen and (max-width: $large-breakpoint) {
      display: block;
    }
  }
}

.skip-nav {
  float: left;

  &:focus {
    visibility: visible;
  }

  a {
    background-color: $white;
    color: $gray-5;
    left: -500px;
    overflow: hidden;
    position: absolute;
  
    &:active,
    &:focus {
      left: 1rem;
      overflow: visible;
      position: absolute;
      top: 1rem;
    }
  }
}