// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  font-family: $secondary-font-family;    
  margin-bottom: 5rem;
  padding-bottom: .5rem;
  padding-top: 1rem;
      
  a {
    color: inherit;
  }
  
  a:hover {
    color: $link-color;
    text-decoration: none;
  }
  
  nav {
    color: $gray-3;
    
    ul {
      margin: 0;
      padding: 0;
      text-align: right;
    
      li {
        display: inline-block;
        font-weight: 700;
        line-height: 1.75;
        list-style: none;
        margin: 0 .5rem;
      }
      
      .title {
        float: left;
        margin-left: 0;
      }
    }
  }
  
  small {
    color: $gray-3;
    display: block;
    font-size: 75%;
    font-weight: 600;
    margin-top: .5rem;
    text-transform: uppercase;
    
    @media (max-width: 44em) {
      display: block;
      margin: .25em 0 0;
    }
  }
}

.masthead-title {
  color: $gray-5;
  display: inline-block;
  margin: 0;

  a {
    color: inherit;
  }
}

.skip-nav {
  float: left;
  font-weight: 600;

  &:focus {
    visibility: visible;
  }

  a {
    color: #454545;
    left: -500px;
    overflow: hidden;
    position: absolute;
  
    &:active,
    &:focus {
      background: #f1f2f3;
      left: .5rem;
      overflow: visible;
      padding: .5rem;
      position: absolute;
      top: .5rem;
    }
  }
}