// Masthead
//
// Super small header above the content for site name and short description.

header {
  color: var(--gray-m);
  font-family: var(--font-secondary-bold);    
  margin-bottom: 5rem;
  padding-bottom: .5rem;
  padding-top: 1rem;
      
  a {
    color: inherit;
  }

  .tagline {
    font-family: var(--font-secondary-semi-bold);
    font-size: .8rem;
    margin-top: .5rem;
    text-transform: uppercase;
  }
}

nav {
  align-items: center;
  display: flex;

  h1 {
    color: var(--gray-6);
    font-size: var(--font-size-large);
    margin: 0;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  
    &:hover {
      color: var(--link-color);
    }
  }

  ul {
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
  
    li {
      display: inline-block;
      line-height: 1.75;
      margin: 0;
      
      &:last-child {
        margin-left: 1rem;
      }
    }
  }
}

.skip-nav {

  a {
    background-color: var(--white);
    color: var(--gray-5);
    left: -500px;
    overflow: hidden;
    position: absolute;
  
    &:active,
    &:focus {
      left: 1rem;
      overflow: visible;
      position: absolute;
      text-decoration: none;
      top: 1rem;
    }
  }

  &:focus {
    visibility: visible;
  }
}