// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  background-color: $gray-1;
  border-left: .125rem solid $border-color-blue;
  color: $gray-4;
  font-family: $secondary-font-family-semibold;
  font-size: .9rem;
  margin-bottom: 1rem;
  padding: 1rem;

  strong {
    color: $gray-4;
    font-family: $secondary-font-family-bold;
  }
}