.pagination {
  color: var(--color-shades-primary-glare);
  display: flex;
  justify-content: center;
  margin: 3rem 0;

  &__item {
    border: 2px solid var(--color-primary-info-bg);
    border-radius: 3rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    transition: border-color ease var(--transition-duration);
    width: 50%;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    &:focus,
    &:hover {
      border-color: var(--color-primary-info);
      outline: inherit;
    }
  }
}
