// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  color: $gray-3;
  display: flex;
  margin: 3rem 0;  
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  border: 2px solid $border-color;
  border-radius: .25rem;
  font-family: $secondary-font-family-semibold;
  padding: 1rem;
  text-align: center;
  width: 50%;

  &:first-child:not(:last-child) {
    margin-right: .5rem;
  }

  &:hover {
    border-color: $border-color-blue;
    transition: border-color ease .2s;

    &:focus {
      outline: none;
    }
  }
}