// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  a {
    text-decoration: underline;  
  }
}


// Blog post or page title
.page-title,
.post-title {
  font-size: 2rem;
  margin-top: 0;

  a {
    color: $gray-6;
    text-decoration: none;
  } 
}

.post-title a {
  
  &:hover {
    color: $link-color;
  }
}

// Meta data line below post title
.post-comments,
.post-date,
.post-tags {
  color: $gray-3;
  display: inline-block;
  font-family: $secondary-font-family-semibold;
  line-height: 1;
  margin: 0 1rem 1rem 0;
  
  svg {
    fill: $gray-3;
    vertical-align: top;
  
    @media (max-width: $large-breakpoint) {
      height: calc(20px * .85); 
    }
  }
}

.post-date {
  time {
    margin-left: .25em;
  }
}

.post-comments {
  
  a {
    margin-left: .25em;
  }

  //@media (max-width: $large-breakpoint) {
  //  display: none;
  //}
}

.more {
  
  a {
    font-family: $secondary-font-family-semibold;
    font-weight: 600;
  }
}

.archive-date {
  float: right;
  
  @media (max-width: $large-breakpoint) {
    display: block;
    float: none;
    margin: 0;
  }
}

.embed {
  margin: 1.5rem 0 2rem;
}

// Tags
.post-tags {

  ul {
    display: inline-block;
    margin: 0;
    margin-left: .25em;
    padding: 0;

    li {
      display: inline-block;
      list-style: none;
    }
  }
}

// Tags page
.tags {
  
  h3 {
    border-top: 1px solid $white-sand;
    padding-top: 1.5rem;
  }
  
  .row {
    margin-bottom: 1rem;
  } 
}

// Recent posts
.recent {
  border-top: 1px solid $white-sand;
  //padding-bottom: 1.5rem;
}

// Related posts
.related {
  border-bottom: 1px solid $white-sand;
  border-top: 1px solid $white-sand;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.recent-posts,
.related-posts {
  list-style: none;
  padding-left: 0;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      color: $gray-3;
      font-size: 75%;
      white-space: nowrap;
    }

    a:hover {
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}
