// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {

  .more {
    font-family: var(--font-secondary-semi-bold);
  }

  ul {
    margin-left: 1rem;
    padding: 0;

    ul {
      margin-bottom: .5rem;
      margin-top: .5rem;
    }
  }
}

.post-header {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.post-meta {  
  --flow-space: 1.25rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  > * {
    margin-bottom: var(--flow-space);
  }

  div {
    color: var(--color-shades-primary-glare);
    display: inline-block;
    font-family: var(--font-secondary-semi-bold);
    line-height: 1;
    margin-right: var(--flow-space);
  }

  // Publish date
  time {
    display: inline-block;
  }

  // Tags
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    list-style: none;
  }
}


// Blog post or page title
.page-title,
.post-title {
  font-size: 2rem;
  margin-top: 0;

  a {
    color: inherit;
    text-decoration: none;
    
    &:hover {
      color: var(--color-primary-info-text);
    }
  }
}

.post-footer {
  text-align: inherit;

  ul {
    margin-left: inherit;
  }
}

.archive-date {
  color: var(--color-shades-primary-glare);
  font-size: .875rem;
}

.embed {
  margin: 1.5rem 0 2rem;
}

// Tags page
.tags {
  font-family: var(--font-secondary-semi-bold);

  h3 {
    margin-top: 0;
  }
  
  .row {
    margin-bottom: 1rem;
  }
}

// Related posts
.related {
  border-top: 2px solid var(--color-primary-info-bg);
  font-family: var(--font-secondary-semi-bold);
  margin-bottom: 2rem;

  ul {
    list-style: none;
    padding-left: 0;

    li {

      margin-bottom: .5rem;
    }
  }
}