/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+git&plugins=show-language */
/**
* prism.js default theme for JavaScript, CSS and HTML
* Based on dabblet (http://dabblet.com)
* @author Lea Verou
*/

/*
code[class*="language-"],
pre[class*="language-"] {
  color: var(--flat-black);
  font-family: var(--code-font-family);
  font-size: .9rem;
  hyphens: none;
  line-height: var(--root-line-height) ;
  tab-size: 4;
  text-align: left;
  text-shadow: 0 1px var(--white);
  word-spacing: normal;
  word-wrap: normal;
}
*/

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog,
.token.punctuation {
	color: #747474;
}

.namespace {
  opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color-mid-text);
}

.token.punctuation,
.token.string,
.token.atrule,
.token.attr-value {
  color: var(--color-syntax-primary);
}

.token.property,
.token.tag {
  color: var(--color-syntax-quaternary);
}

.token.boolean,
.token.number {
  color: var(--color-syntax-primary-glare)
}

.token.selector,
.token.attr-name,
.token.attr-value .punctuation:first-child,
.token.keyword,
.token.regex,
.token.important {
  color: var(--color-code-tertiary);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string {
  color: var(--color-syntax-secondary)
}

.token.entity {
  cursor: help
}

.namespace {
  opacity: .7;
}

code {
  font-size: .85em;
  hyphens: none;
  padding: .125em .25em;
  tab-size: 2;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  //font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace
}

pre > code {
  display: block;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  padding: clamp(1rem, 1.0625rem, 1.125rem);
  -webkit-overflow-scrolling: touch;
}

div.prism-show-language {
  position: relative;
 
  .prism-show-language-label {
    background-color: var(--color-stroke);
    border-radius: 0 .25rem;
    bottom: auto;
    box-shadow: none;
    color: var(--flat-black);
    display: inline-block;
    font-family: var(--secondary-font-family-semibold);
    font-size: .725rem;
    height: auto;
    left: auto;
    padding: 0 0.5rem;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: 0;
    transform: none;
    width: auto;
    z-index: 1;
  }
}