/* PrismJS 1.30.0
https://prismjs.com/download#themes=prism&languages=markup+css+clike+javascript+git+jsx+tsx+typescript&plugins=toolbar */

.token.cdata,
.token.doctype,
.token.prolog {
  color: var(--color-mid-text);
}

.token.comment {
  color: var(--color-shades-secondary-glare);
}

.namespace {
  opacity: 0.7;
}

.token.attr-value,
.token.atrule,
.token.string,
.token.punctuation {
  color: var(--color-syntax-primary);
}

.token.class-name,
.token.function,
.token.property,
.token.tag {
  color: var(--color-syntax-quaternary);
}

.token.boolean,
.token.number {
  color: var(--color-syntax-primary-glare);
}

.token.attr-name,
.token.attr-value .punctuation:first-child,
.token.important,
.token.keyword,
.token.regex,
.token.selector {
  color: var(--color-code-tertiary);
}

.language-css .token.string,
.token.entity,
.token.operator,
.token.url {
  color: var(--color-syntax-secondary);
}

.token.entity {
  cursor: help;
}

.namespace {
  opacity: 0.7;
}

code {
  border-radius: 3px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  font-size: var(--font-size-small);
  hyphens: none;
  padding: 2px 6px;
  tab-size: 2;
  text-align: left;
  word-break: keep-all;
  word-spacing: normal;
  word-wrap: pre-wrap;
}

pre > code {
  @extend code;
  border-radius: 0;
  display: block;
  line-height: 1.7;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  padding: clamp(1rem, 1.5rem, 2rem);
  -webkit-overflow-scrolling: touch;
}
