// Share
//
// Styles for social share buttons.
.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  
  .item {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  a {
    color: inherit;
  }
}