// Share
//
// Styles for social share buttons.
.social {
  margin-bottom: 2rem;
  margin-top: 2rem;
  
  .chan {
    display: inline-flex;
    margin: 0 1rem;
  }
  
  a {
    color: inherit;
  }

  @media only screen and (max-width: $large-breakpoint) {
    margin-bottom: 1rem;
  }
}