.example {
  background: linear-gradient(to bottom, white, black);
  display: -ms-flexbox;
  display: flex;
  transition: all .5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript&plugins=show-language */
/**
* prism.js default theme for JavaScript, CSS and HTML
* Based on dabblet (http://dabblet.com)
* @author Lea Verou
*/

code[class*="language-"],
pre[class*="language-"] {
  background: none;
  color: black;
  font-family: $code-font-family;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  text-align: left;
  text-shadow: 0 1px white;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  margin-bottom: 1rem;
  overflow: auto;
  padding: 1em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f9f9f9;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  padding: .1em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

div.prism-show-language {
  position: relative;
}

div.prism-show-language > div.prism-show-language-label {
  background: #ddd;
  border-radius: 0 0 0 5px;
  bottom: auto;
  box-shadow: none;
  color: black;
  display: inline-block;
  font-family: sans-serif;
  font-size: .75em;
  height: auto;
  left: auto;
  padding: 0 0.5em;
  position: absolute;
  right: 0;
  text-shadow: none;
  top: 0;
  transform: none;
  width: auto;
  z-index: 1;
}