@mixin heading-styles {
  color: inherit;
  font-weight: 600;
  line-height: 1.25;
  text-wrap: pretty;
}

h1,
h2,
h3 {
  @include heading-styles;
}

h2,
h3 {
  margin-top: 2rem;
}

h3 {
  font-size: var(--font-size-large);
}

aside,
blockquote {
  &.message {
    --spacer: 1.5rem;
    background-color: var(--color-shades-primary-bright);
    border-radius: 0.25rem;
    color: var(--color-state-info-text);
    font-size: 0.9rem;
    margin: var(--spacer) 0;
    padding: clamp(1.25rem, var(--spacer), 2rem);

    &.notification {
      background-color: var(--color-state-warn-bg);
      color: var(--color-state-warn-text);
      margin: var(--spacer) 0;
    }

    .note--head {
      font-weight: 600;
      margin-block: 0 0.5rem;
    }

    p {
      margin-block: 0;

      &:not(:last-child) {
        margin-block-end: var(--flow-space);
      }
    }

    a {
      color: currentColor;
    }

    @media (min-width: 53.125rem) {
      margin: var(--spacer) -1.75rem;
    }
  }
}

.flow {
  --flow-space: 1.5rem;

  > * {
    margin-bottom: var(--flow-space);
  }

  .flow-space-size-2 {
    --flow-space: clamp(2.375rem, 1.98rem + 1.96vw, 3.75rem);
  }

  ul,
  ol {
    margin-top: 0;

    &:not([class]) {
      padding-inline-start: 2.5ch;

      > li {
        margin-bottom: 1rem;
        padding-inline-start: 0.25rem;
      }
    }
  }
}

aside,
blockquote,
caption,
figcaption {
  text-wrap: pretty;
}

.table-container {
  overflow-x: auto;

  table {
    border-collapse: collapse;
    width: 100%;

    td,
    th {
      border: 1px solid var(--color-stroke);
      padding: 0.3rem 0.65rem;
      text-align: left;
    }

    tr:nth-child(even) {
      &:has(td) {
        background-color: var(--color-shades-light);
      }
    }
  }
}
