// Typography
//
// Headings, body text, lists, and other misc typographic elements.

h1, h2, h3 {
  color: var(--gray-6);
  font-family: var(--secondary-font-family-bold);
  line-height: 1.25;
  margin-bottom: 1rem;
}

h3 {
  font-size: var(--large-font-size);
  margin-top: 1.5rem;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
  
  &:last-of-type {
    margin-bottom: 1.5rem;
  }
}

.emoji-md {
  font-size: 1.5rem;
}

.emoji-sm {
  font-size: var(--large-font-size);
}

.emoji-x-sm {
  font-size: 1rem;
}

strong {
  font-family: var(--root-font-family-bold);
  font-style: normal;

  em {
    font-family: var(--root-font-family-bolditalic);
  }
}

ul, ol, dl {
  margin-bottom: 1rem;
  margin-top: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

abbr {
  color: var(--gray-5);
  font-size: var(--small-font-size);
  font-weight: bold;
  text-transform: uppercase;

  &[title] {
    border-bottom: 1px dotted var(--border-color);
    cursor: help;
  }
}

blockquote {
  background-color: var(--sky-blue);
  border-left: .5rem solid var(--border-color-blue);
  color: var(--gray-5);
  font-family: var(--secondary-font-family-semibold);
  font-size: .9rem;
  margin: .8rem 0;
  padding: 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media only screen and (min-width: 53.125rem) {
    margin: 1.5rem -1.75rem;
  }
  
  @media only screen and (min-width: 30rem) {
    padding: 1rem 1.25rem;
  }
}

cite,
em {
  font-family: var(--root-font-family-italic);
  font-style: normal;
}


// sub,
// sup {
//   font-size: .75rem;
//   line-height: 0;
//   position: relative;
//   vertical-align: baseline;
// }

// sub {
//   bottom: -.25rem;
// }

// sup {
//   top: -.5rem;
  
//   a {
//     font-family: var(--root-font-family-bold);
//   }
// }



// // Markdown footnotes
// //
// // See the example content post for an example.

// // Footnote number within body text
// a[href^="#fn:"],
// // Back to footnote link
// a[href^="#fnref:"] {
//   font-weight: bold;
//   display: inline-block;
//   margin-left: .1rem;
// }

// // List of footnotes
// .footnotes {
//   font-size: .9rem;
//   margin-top: 2rem;
// }

// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  background-color: var(--sky-blue);
  border-left: .5rem solid var(--border-color-blue);
  color: var(--gray-5);
  font-family: var(--secondary-font-family-semibold);
  font-size: .9rem;
  padding: 1rem;

  strong {
    font-family: var(--secondary-font-family-bold);
  }
}