h1, h2, h3 {
  color: var(--color-shades-primary);
  font-weight: 600;
  line-height: 1.25;
}

h2, h3 {
  margin-top: 2rem;
}

h3 {
  font-size: var(--font-size-large);
}

aside,
blockquote {
  &.message {
    background-color: var(--color-shades-primary-bright);
    border-radius: .25rem;
    color:var(--color-state-info-text);
    font-size: var(--font-size-small);
    margin: 1.5rem 0;
    padding: clamp(1.25rem, 1.5rem, 2rem);
    
    a {
      color: currentColor;
    }

    @media (min-width: 53.125rem) {
      margin: 1.5rem -1.75rem;
    }
  }
}

aside {
  &.message.notification {
    background-color: var(--color-state-warn-bg);
    color: var(--color-state-warn-text);
    margin: 1.5rem 0;
  }
}

.flow {
  --flow-space: 1.5rem;

  > * {
    margin-bottom: var(--flow-space);
  }

  .flow-space-size-2 {
    --flow-space: clamp(2.375rem, 1.98rem + 1.96vw, 3.75rem)
  }

  ul, ol {
    margin-top: 0;
    
    &:not([class]) {
      padding-inline-start: 2.5ch;
      
      > li {
        margin-bottom: 1rem;
        padding-inline-start: .5rem;
      }
    }
  }  
}