// used for media queries (media queries don't accept CSS variables)
$large-breakpoint: 36rem;

:root {
  --font-fallback: 
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    sans-serif;
  --font-root-regular: "BitterRegular", var(--font-fallback);
  --font-root-bold: "BitterBold", var(--font-fallback);
  --font-root-italic: "BitterItalic", var(--font-fallback);
  --font-root-bold-italic: "BitterBoldItalic", var(--font-fallback);
  --font-secondary-regular: "OpenSansRegular", var(--font-fallback);
  --font-secondary-bold: "OpenSansBold", var(--font-fallback);
  --font-secondary-semi-bold: "OpenSansSemibold", var(--font-fallback);
  --font-tertiary-regular: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

  --font-size-large: 1.25rem;
  --font-size-root: 1.125rem;
  --font-size-small: .85rem;
  --font-line-height: 1.5;
  --large-breakpoint: #{$large-breakpoint};

  --color-primary: #0b0c0c;
  --color-primary-info: #2962ff; // #0074d9;
  --color-shades-primary: #292930;
  --color-shades-primary-glare: #68778d;
  --color-shades-primary-bright: #e7f0fd;
  --color-shades-secondary: #444;
  --color-shades-secondary-glare: #726e6e;
  --color-shades-secondary-bright: #e5e5e5;
  --color-shades-tertiary-bright: #fff;
  --color-shades-gray: #585b63;
  --color-shades-gray-glare: #d2d3d7;
  --color-shades-light: #f8f9fa;
  --color-state-info: #174ea6;
  --color-state-warn: #c34900;
  --color-state-warn-bright: #fff5e3;
  --color-code-primary: #183691;
  --color-code-primary-glare: #007aa2;
  --color-code-secondary: #a71d5d;
  --color-code-tertiary: #9f1c59;
  --color-code-quaternary: #385d34;
  --color-code-quaternary-glare: #52894c;
  --color-code-quaternary-bright: #9cc598;
  --color-core-text: var(--color-primary);
  --color-primary-info-text: var(--color-primary-info);
  --color-primary-info-bg: var(--color-shades-secondary-bright);  
  --color-shades-primary-text: var(--color-shades-primary);
  --color-mid-text: var(--color-shades-gray);
  --color-mid-bg: var(--color-shades-light);
  --color-state-info-text: var(--color-state-info);
  --color-state-warn-text: var(--color-state-warn);
  --color-state-warn-bg: var(--color-state-warn-bright);
  --color-stroke: var(--color-shades-gray-glare);
  --color-syntax-primary: var(--color-code-primary);
  --color-syntax-primary-glare: var(--color-code-primary-glare);
  --color-syntax-secondary: var(--color-code-secondary);
  --color-syntax-quaternary: var(--color-code-quaternary);
}
