$gray-1: #f9f9f9;
$gray-2: #cfcfcf;
$gray-3: #68778d;
$gray-m: #767676;
$gray-4: #717171;
$gray-5: #515151;
$gray-6: #303030;

$blue: #0074d9;
$flat-black: #0b0c0c;
$forest-green: #1e8400;
$plum: #905;
$sky-blue: #f9fbff;
$white: #fff;
$white-gray: #fcfcfc;
$white-sand: #e5e5e5;

$root-font-family-fallback: Georgia, serif;
$root-font-family-regular: "BitterRegular", $root-font-family-fallback;
$root-font-family-bold: "BitterBold", $root-font-family-fallback;
$root-font-family-italic: "BitterItalic", $root-font-family-fallback;
$root-font-family-bolditalic: "BitterBoldItalic", $root-font-family-fallback;
$root-font-size: 16px;
$root-line-height: 1.5;

$body-color: $gray-5;
$secondary-font-family-bold: "OpenSansBold", sans-serif;
$secondary-font-family-semibold: "OpenSansSemibold", sans-serif;

$link-color: $blue;
$border-color: $white-sand;
$border-color-blue: $link-color;

$large-breakpoint: 38rem;
$large-font-size: 1.25rem;

$code-font-family: "Inconsolata", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
$code-background-color: $white-gray;
