.s-element {
	position: relative;
	padding: 15px 10px;
	text-align: center
}

.s-element-container {
	position: relative;
	max-width: 500px;
	margin: 0 auto;
	border: 1px solid #e7e7e7;
	box-shadow: 0 0 2px #e7e7e7;
}

.s-element-content {
	text-align: left
}

.s-element.s-element-text {
	padding-top: 0;
	padding-bottom: 0
}

.s-element.s-element-text .s-element-container {
	max-width: none;
	border: 0;
	box-shadow: none
}

.s-elements .s-text {
	padding: .75rem .75rem 1rem;
	font-size: 1.15rem;
	line-height: 1.6em;
	color: #333;
}

.s-element.s-element-image:not([data-source="twitter"]):not(.embedFb):not([data-source="getty"]) .s-element-container {
	display: inline-block;
	max-width: 100%;
	border: 0;
	border-radius: 0;
	box-shadow: none
}

.s-element.s-element-image:not([data-source="twitter"]):not(.embedFb):not([data-source="getty"]) .s-element-container .s-image {
	padding: 0;
	border: 0;
	position: relative;
	display: table;
	box-shadow: none;
	overflow: visible
}

.s-element.s-element-image:not([data-source="twitter"]):not(.embedFb):not([data-source="getty"]) .s-element-container .s-image .s-image-content {
	display: inline-block;
	position: relative;
	min-width: 200px;
	min-height: 100px;
	border-radius: 5px;
	box-shadow: 0 0 3px #ccc
}

.s-element.s-element-image:not([data-source="twitter"]):not(.embedFb):not([data-source="getty"]) .s-element-container .s-image .s-image-content>img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.s-info {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin-bottom: 20px;
	margin-left: -3px;
}

.s-info .s-author {
	font-size: 12px;
	line-height: 30px;
	float: left;
	margin: 0 10px 0 0;
	color: #666;
	background: #f2f2f2;
	padding: 0 10px 0 15px;
	height: 30px;
	display: inline-block;
	border-radius: 0 5px 5px 0
}

.s-info .s-published {
	display: inline-block;
	font-size: 11px;
	line-height: 30px
}

.s-story {
	margin: 0 auto;
	padding: 0;
	color: #333;
	font-size: 15px;
	line-height: 18px;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}

.s-clear {
	display: block;
	height: 0;
	clear: both
}

.s-header {
	padding: 16px 0 0;
	border-bottom: 1px dotted #ddd;
}

.s-elements {
	list-style: none;
	padding: 0;
	margin: 0
}

.s-title {
	display: block;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.1em;
	color: #000;
	padding: 0 20px;
	margin: 0
}

.s-description {
	display: block;
	margin: 0;
	padding: 10px 20px 20px;
	font-size: 1.15rem;
	line-height: 1.6em;
	color: #666
}

:focus {
  outline: 1px solid;
	outline-offset: .15rem;
}

@media screen and (max-width: 659px) {
	body {
		margin: 0;
		padding: 0;
	}
}

.s-story {
	min-width: 260px
}

@media screen and (max-width: 800px) {
	body {
		width: 100%;
	}

	.container {
		padding-left: 0;
		padding-right: 0;
	}

	img {
		height: auto;
		max-width: 100%;
	}
}


/* override global */
.masthead,
.page-title,
footer .social {
  display: none !important;
}

footer {
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	margin: 0;
	padding: 2rem 0;
}

.s-description,
.s-text,
.s-elements .s-text,
footer,
i {
	font-family: -apple-system, 
	BlinkMacSystemFont, 
	"Segoe UI", 
	Roboto, 
	Oxygen-Sans, 
	Ubuntu, 
	Cantarell, 
	"Helvetica Neue", 
	sans-serif;
}

em {
	font-style: italic;
}